/* Put your style information here! */
.logo{
    width: 110px;
}

body{
    font-family: 'Roboto Slab', serif;
}

.navbar{
    /* background-color: #d3e4fc; */
    background-color: white;
    border-bottom: 7.5px solid #003f96;
    font-family: 'Roboto Slab', serif;
    color: #003f96;
}

a,li{
    color: #003f96;
}

.top-pane {
    background: url(table-food-op.png) center fixed;
    background-size: cover;
	height: calc(100vh - 220px);
}

.content{
    padding: 50px;
}

.specialty{
    padding: 20px;
}

.explanation{
    padding-top: 15px;
    padding-right: 30px;
    width: 90%;
}

.explanation-2{
    padding-top: 15px;
    padding-left: 30px;
    width: 90%;
}


.section-header{
    color: #dc3545;
    padding: 20px;
    font-size: 38px;
    font-family: 'Sansita Swashed', cursive;
}

.extra-header{
    color: #003f96;
    font-weight: 900;
    font-size: 32px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.body-text{
    color: #003f96;
    /* color: black; */
    font-size: 19px;
    padding: 25px;
    font-family: 'Roboto Slab', serif;
}

.title{
    color: #003f96;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

.subtitle{
    color: #003f96;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}


@media (max-width: 450px) {
    .section-header{
        font-size: 21px;
    }

    .title{
        font-size: 26px;
    }

    .subtitle{
        font-size: 16px;
    }

    .extra-header{
        font-size: 18px;
    }

    .body-text{
        font-size: 14px;
    }
}


.food-text{
    width: 100%;
    text-align: center;
    border-radius: 15px;
    /* color: black; */
    color: #003f96;
    font-size: 13px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
 }

.btn{
    font-family: 'Roboto Slab', serif;
}


.specials{
    justify-content: center;
    align-items: center;
    background-color: #E6EDF6;
    border-radius: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.visit{
    text-align: center;
}

.food-img{
    width: 100%;
    padding: 15px;
    align-content: center;
    align-self: center;
    align-self: center;
    vertical-align: top;
}

.reg-image{
    width: 100%;
}

.special{
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 30px;
    align-content: center;
    align-self: center;
    vertical-align: center;
}

.larger-img{
    width: 50%;
}

.choco-pancakes {
    width: 80%;
    height: 350px;
    background-image: url('pecan-pancakes.jpg');
    background-size: cover;
    padding: 30px;
    align-self: center;
}

.old-oph {
    width: 80%;
    height: 350px;
    padding: 30px;
    background-image: url('oph-old.jpg');
    background-size: cover;
    align-self: center;
}

.menu-item:hover{
    text-decoration: underline;
}