/* Put your style information here! */
.logo{
    width: 110px;
}

body{
    font-family: 'Roboto Slab', serif;
}

.navbar{
    /* background-color: #d3e4fc; */
    background-color: white;
    border-bottom: 7.5px solid #003f96;
    font-family: 'Roboto Slab', serif;
    color: #003f96;
}

a,li{
    color: #003f96;
}

.top-pane {
    background: url(table-food-op.png) center fixed;
    background-size: cover;
	height: calc(100vh - 300px);
}

.content{
    padding: 40px;
}

.specialty{
    padding: 20px;
}

.explanation{
    padding-top: 15px;
    padding-right: 30px;
    width: 90%;
}


.explanation-2{
    padding-top: 15px;
    padding-left: 30px;
    width: 90%;
}

.carousel{
    width: 70%;
}



h1{
    color: #f13012;
    padding: 20px;
    font-size: 120%;
    font-family: 'Sansita Swashed', cursive;
}
h2, h4, h6{
    color: #003f96;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

img {
    max-width: 700px;
}

.specials{
    justify-content: center;
    align-items: center;
}

.title{
    color: #003f96;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

.subtitle{
    font-style: italic;
    font-family: 'Sansita Swashed', cursive;
}

button{
    max-height: 40px;
    font-family: 'Roboto Slab', serif;
}

.btn{
    font-family: 'Roboto Slab', serif;
}

.visit{
    text-align: center;
}

.food-img{
    width: 300px;
    height: auto;
    padding: 15px;
}

.food-text{
   width: 300px;
   height: 200px;
   text-align: center;
}

.special{
    width: 350px;
    padding: 20px;
}